@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1
*
	box-sizing: border-box

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.clearfix::after 
	content: ""
	display: table
	clear: both

html, body
	height: 100%

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	background: #181818

.img-responsive
	display: block
	max-width: 100%
	height: auto

.left_side
	background-color: #111
	position: fixed
	left: 0
	top: 0
	width: 50px
	height: 100%
	transition: all .5s
	z-index: 10
	color: #fff
	overflow-x: hidden
	&.active
		width: 300px
		.user_info
			opacity: 1
		.btn_mnu
			background: transparent
		.aside_content
			nav
				margin-top: 35px
			li
				a
					&:before
						margin-left: -32px
//кнопка
.btn_mnu
	width: 50px
	height: 50px
	transition: all .5s
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	float: right
	background-color: tomato
	cursor: pointer
	position: relative

.btn_row
	height: 2px
	width: 60%
	margin: 2px 0
	background-color: #fff
	position: relative
	-webkit-transition: all .5s
	-o-transition: all .5s
	transition: all .5s

.btn_mnu.active .btn_row
	&:first-child
		-webkit-transform: rotate(-135deg)
		-ms-transform: rotate(-135deg)
		-o-transform: rotate(-135deg)
		transform: rotate(-135deg)
		top: 6px
	&:last-child
		-webkit-transform: rotate(-225deg)
		-ms-transform: rotate(-225deg)
		-o-transform: rotate(-225deg)
		transform: rotate(-225deg)
		top: -6px
	&:nth-child(2)
		opacity: 0
.aside_content
	position: absolute
	top: 50px
	padding: 25px 0px
	width: 100%
	ul,li
		margin: 0
		padding: 0
		list-style: none
	li
		a
			&:before
				font-family: "linea-basic-10"
				margin-left: -58px
				font-size: 25px
				line-height: 0
				transition: all .5s
				margin-right: 15px
				margin-top: -4px
				display: inline-block
				vertical-align: middle
		&:nth-child(1)
			a
				&:before
					content: "u"
		&:nth-child(2)
			a
				&:before
					content: "{"
		&:nth-child(3)
			a
				&:before
					content: "R"
		a
			color: #b2b2b2
			background-color: #111
			display: block
			padding: 10px 0px 10px 70px
			border-bottom: #212121 1px solid
			white-space: nowrap
			transition: all .5s
			&:first-child
				border-top: #212121 1px solid
			&:hover
				text-decoration: none
				background: tomato
				color: #fff
	nav
		margin: 35px 0px
		margin-top: -110px
		transition: all .5s
		position: relative
		z-index: 5
.user_info
	text-align: center
	opacity: 0
	transition: all .2s
	white-space: nowrap
	img
		width: 120px
		height: 120px
		border-radius: 50%
.name
	font-family: $default-font
	margin: 15px 0px
	font-size: 16px
.desc
	font-size: 13px
	letter-spacing: 1px
	color: #434343
	font-family: $default-font
.loader
  background: none repeat scroll 0 0 #ffffff
  bottom: 0
  height: 100%
  left: 0
  position: fixed
  right: 0
  top: 0
  width: 100%
  z-index: 9999
  .loader_inner
    background-image: url("../img/preloader.gif")
    background-size: cover
    background-repeat: no-repeat
    background-posirion: center center
    background-color: #fff
    height: 60px
    width: 60px
    margin-top: -30px
    margin-left: -30px
    left: 50%
    top: 50%
    position: absolute
@import "media" // Всегда в концеFFF
